* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/***** header *****/
header {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("img/ice_cream_balls.jpg");
    background-size: cover;
    height: 100vh;
}

.header-text {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.header-text h1 {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    word-spacing: 5px;
}

.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid;
    border-color: #de6c33;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 15px;
    letter-spacing: 1px;
}
/***** poznámky pro display: ****

inline: paddingy po všech stranách, marginy jen vlevo a vpravo,
nemá výšku ani šířku;

inline-block: má marginy a paddingy po všech stranách, má výšku i šířku, nechá elementy vedle sebe;

block: má marginy a paddingy po všech strsanách, má výšku i šířku, každý element je na jednom řádku;

none: nechá zmizet;
*/


.btn-full:link,
.btn-full:visited {
    background: #de6c33;
}

.btn-full:hover,
.btn-full:active {
    background: #e05712;
    border: 2px solid #e05712;
}


.btn-empty:link,
.btn-empty:visited {
    margin-left: 5px;
}
.btn-empty:hover,
.btn-empty:active {
    background: #e05712;
}




/***** main *****/



/***** poznámky pro  pseudotřídy****

:link - nenavštívený odkaz (nekliknuto)
:visited - navštívený odkaz (kliknuto)
:hover - ve chvíli najetí kurzoru myši na odkaz
:active - ve chvíli kliknutí

.test:link 
.test:visited {
    color: black;
}

.test:hover 
.test:active {
    color: #de6c33;
*/
