* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/***** header *****/
header {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("img/ice_cream_balls.jpg");
    background-size: cover;
    height: 100vh;
}

.header-text {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.header-text h1 {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    word-spacing: 5px;
}
/***** main *****/